<div class="flex items-center justify-between mb-4">
    <div class="flex items-center gap-3">
      <div class="relative">
        <div class="w-10 h-10 sm:w-12 sm:h-12 rounded-full overflow-hidden ring-2 ring-secondary ring-offset-2">
          <img [src]="author().avatar" [alt]="author().name" class="object-cover w-full h-full" />
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2">
          <h3 class="text-base font-medium text-gray-900">{{author().name}}</h3>
          <p-badge value="Suggested" styleClass="bg-purple-100 text-violet-900 font-medium px-2 text-center"></p-badge>
        </div>
        <p class="text-xs text-gray-600">{{author().company}} • {{author().role}}</p>
      </div>
    </div>
  
    <div class="flex items-center gap-2">
      <button 
      pButton 
      [class]="buttonClass()"
      (click)="handleConnectionRequest()">
      <div class="flex items-center gap-2">
        @if (!isPending()) {
          <lucide-icon [img]="plus" class="h-4 w-4" />
        } @else {
          <lucide-icon [img]="clock3" class="h-4 w-4" />
        }
        {{ buttonText() }}
      </div>
    </button>
    </div>
  </div>
  @if (showPendingAlert()) {
    <div 
      [@slideDown]="true"
      class="my-4 w-full p-4 bg-white rounded-lg border border-gray-200">
      <div class="flex items-center justify-between">
        <div class="flex text-left flex-col">
          <p class="text-sm font-semibold">Cancel Connection Request?</p>
          <p class="text-sm text-gray-600 flex-shrink-0 mr-4">
            Do you want to cancel your request to Eva Green?
          </p>
        </div>
        <div class="flex gap-2 flex-shrink-0">
          <button 
            pButton 
            size="small"
            class="px-4 py-2 text-sm bg-transparent border hover:bg-gray-200 text-gray-700 transition-colors duration-200 rounded-lg"
            (click)="cancelRequest()">
            Cancel Request
          </button>
          <button 
            pButton 
            size="small"
            class="px-4 py-2 bg-red-100 hover:bg-red-200 text-red-700 transition-colors duration-200 rounded-lg"
            (click)="keepPending()">
            Keep Pending
          </button>
        </div>
      </div>
    </div>
  }