<header class="fixed top-0 left-0 right-0 bg-white shadow-sm z-50 h-14">
  <section class="h-full flex items-center space-x-1 justify-between container">
    <div class="flex items-center space-x-4">
      <a 
        routerLink="/" 
        class="text-xl font-bold text-black flex-shrink-0"
      >
        <app-icon-logo size="sm" label="Skillio" labelPosition="right" labelSize="xl"></app-icon-logo>
      </a>
      <span class="hidden md:block w-64">
        <!--<p-autoComplete placeholder="Search skills..." styleClass="border w-full px-4 "/>-->
      </span>
    </div>
    
    <div class="flex items-center justify-center space-x-6">
      <app-main-navigation></app-main-navigation>
      <app-notifications></app-notifications>
      <app-user-menu></app-user-menu>
    </div>
  </section>
</header>