<p-overlayPanel #op class="w-24">
  <div class="flex items-center justify-between p-3 border-b">
    <h3 class="text-lg font-semibold">Notifications</h3>
    @if (unreadCount() > 0) {
      <button 
        pButton 
        class="p-button-text text-xs text-gray-500"
        (click)="markAllAsRead()"
      >
        Mark all as read
      </button>
    }
  </div>
  
  <p-scrollPanel class="h-[300px] bg-gray-50">
    @for (notification of notifications(); track $index) {
      <div 
           class="p-4 hover:bg-gray-100 cursor-pointer flex items-start gap-3"
           [ngClass]="{'bg-gray-50': notification.unread}"
      >
        <p-avatar 
          [image]="notification.avatar" 
          [label]="notification.title.charAt(0)"
          shape="circle"
          size="large"
          class="rounded-full border text-sm"
        ></p-avatar>
        
        <div class="flex-1 space-y-1">
          <p class="text-sm font-medium">{{ notification.title }}</p>
          <p class="text-sm text-gray-500">{{ notification.description }}</p>
          <p class="text-xs text-gray-400">{{ notification.time }}</p>
        </div>
        
        @if (notification.unread) {
          <div 
            class="h-2 w-2 rounded-full bg-secondary animate-pulse"
          ></div>
        }
      </div>
    }
  </p-scrollPanel>
</p-overlayPanel>

<button 
  pButton 
  class="p-button-text p-button-icon-only relative h-7 w-7 overflow-visible" 
  (click)="op.toggle($event)"
>
  <lucide-icon [img]="bell" class="h-5 w-5"></lucide-icon>

  <ng-container *ngIf="unreadCount() > 0">
    <p-badge 
      [value]="unreadCount()" 
      severity="info" 
      class="absolute -top-1 -right-1 text-white text-xs"
    ></p-badge>
  </ng-container>
</button>

