<div class="space-y-4 mb-8">
    @for(connection of connections; track $index){
          <article class="overflow-hidden border-none bg-white hover:rounded-lg hover:shadow-md transition-shadow duration-200 cursor-pointer">
            <div class="p-4 flex items-center space-x-4">
              <!-- Avatar -->
              <div class="w-10 h-10 rounded-full bg-gray-300 flex items-center justify-center">
                @if (connection.name) {
                    <img
                      [src]="'https://i.pravatar.cc/40?img=' + ($index + 1)"
                      alt="{{ connection.name }}"
                      class="w-full h-full rounded-full object-cover"
                    />
                } 
                @if (!connection.name) {
                    <span class="text-white">{{ connection.name.charAt(0) }}</span>
                }
              </div>
              <div class="flex-grow">
                <h3 class="font-semibold text-sm text-black">{{ connection.name }}</h3>
                <p class="text-xs text-gray-500">{{ connection.role }}</p>
              </div>
              <span
                class="px-2 py-1 text-xs text-black bg-secondary rounded-lg"
                >{{ connection.time }}</span
              >
            </div>
          </article>
    }
</div>
